<div id="actMonth"></div>
<div id="calendar"></div>
<div id="legend"></div>
 
<!--CSS-->
<link rel="stylesheet" href="/fc4/packages/core/main.css"/>
<link rel="stylesheet" href="/fc4/packages/daygrid/main.css"/>
<link rel="stylesheet" href="/js/daygrid.css"/>
 
<!--JS-->
<script src="/js/jquery-3.x.min.js"></script>
<!--    obsolete :-)
<script src="/js/jquery.ajax-cross-origin.min.js"></script>
-->
<script src="/js/ical.js/build/ical.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/tippy-bundle.umd.min.js"></script>
<script src="/fc4/packages/core/main.js"></script>
<script src="/fc4/packages/interaction/main.js"></script>
<script src="/fc4/packages/daygrid/main.js"></script>
<script src="/fc4/vendor/moment.js"></script>
<script src="/fc4/packages/moment/main.js"></script>
<script src="/fc4/vendor/moment-timezone-with-data-10-year-range.js"></script>
<script src="/fc4/packages/moment-timezone/main.js"></script>
<script src="/fc4/vendor/rrule-tz.js"></script>
<script src="/fc4/packages/rrule/main.js"></script>
<script src="/js/monthpic.js"></script>
<script src="/fc4/packages/core/locales/de.js"></script>
<script src="/js/calendar.js"></script>
